.navbox{
  
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    height: 20px;
}
.navbox .navbar-brand {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.navbox .navbar-nav > li > a {
    color: rgb(60, 22, 197);
}
.carousel-height{
	height: 350px;
}
.about-pizza{
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.footer{
	background-color:#160d92 ;
	padding-bottom: 1rem;
	padding-top: 2rem;
	color: white;
    height: 150px;
}

.imgg{
    padding-bottom: 50px;
}